{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace visio=Neoslive\Visio\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}


<nav class="st-menu st-effect-1" id="menu-1">


    <f:for each="{quicklinks}" as="quicklink">

        <h3 class="st-menu-title">{quicklink.properties.title}</h3>
        <div class="nav">
            <ul>
                <visio:children node="{quicklink}" as="q" instanceof="TYPO3.Neos:Shortcut">
                    <f:for each="{q}" as="item">


                        <f:if condition="{item.nodetype.name} == 'TYPO3.Neos:Shortcut'">
                            <li>
                                <neos:link.node node="{item}">{item.properties.title}</neos:link.node>
                            </li>
                        </f:if>

                    </f:for>
                </visio:children>
            </ul>
            <ts:render path="node" context="{node: quicklink}" />
        </div>

    </f:for>

</nav>