{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace visio=Neoslive\Visio\ViewHelpers}


<f:if condition="{node.parent.nodetype.name} == 'Neoslive.Visio:Accordeoncontainer'">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion{node.parent.Identifier}" href="#collaspe{node.Identifier}">
                    {neos:contentElement.editable(property: 'title',tag:'span')}
                </a>
            </h4>
        </div>
        <div id="collaspe{node.Identifier}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
</f:if>
<f:if condition="{node.parent.parent.nodetype.name} == 'TYPO3.Neos.NodeTypes:Page'">
    <f:then>


        <f:if condition="{image}">
            <f:then>


                <f:if condition="{link}">
                    <f:then>
                        <f:if condition="{neos:rendering.inBackend()}">
                            <f:then>
                                <visio:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                                             maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                                             allowUpScaling="{allowUpScaling}" css="{css}"/>
                            </f:then>
                            <f:else>
                                <a href="{link}">
                                    <visio:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                                                 maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                                                 allowUpScaling="{allowUpScaling}" css="{css}"/>
                                </a>
                            </f:else>
                            </f:if>

                    </f:then>
                    <f:else>
                        <visio:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                                     maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                                     allowUpScaling="{allowUpScaling}" css="{css}"/>
                    </f:else>
                </f:if>


            </f:then>
            <f:else>
                <f:if condition="{neos:rendering.inEditMode()}">
                    <img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image"
                         alt="Dummy image" class="neos-handle {css}"/>
                </f:if>
            </f:else>
        </f:if>


    </f:then>
    <f:else>

        <figure{f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
        <f:if condition="{image}">
            <f:then>
                <f:if condition="{link}">
                    <f:then>
                        <f:if condition="{neos:rendering.inBackend()}">
                            <f:then>
                                <visio:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                                             maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                                             allowUpScaling="{allowUpScaling}" css="{css}" />
                            </f:then>
                            <f:else>
                                <a href="{link}">
                                    <visio:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                                                 maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                                                 allowUpScaling="{allowUpScaling}" css="{css}"/>
                                </a>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <visio:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                                     maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                                     allowUpScaling="{allowUpScaling}" css="{css}"/>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:if condition="{neos:rendering.inEditMode()}">
                    <img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image"
                         alt="Dummy image" class="neos-handle {css}"/>
                </f:if>
            </f:else>
        </f:if>
        <f:if condition="{hasCaption}">
            <figcaption>
                {neos:contentElement.editable(property: 'caption', node: node)}
            </figcaption>
        </f:if>
        </figure>


    </f:else>
</f:if>
<f:if condition="{node.parent.nodetype.name} == 'Neoslive.Visio:Accordeoncontainer'">
    </div>
    </div>
    </div>
    </div>
    </div>
</f:if>