.main-content-wrapper {
    margin-top:250px;
    padding-left:320px;
    padding-right:80px;
    padding-top:30px;
    min-height:500px;
}

#leftNavigation {
    display: block;
    position: fixed;
    height: auto;
    width: auto;
    top: 380px;
    margin: auto;

}

#leftNavigation ul li {
    list-style: none;
}

#leftNavigation ul  {
    margin-left:-40px;
    width:1px;
    overflow: visible;
}
#leftNavigation ul li.active {
    background-color: #cf112d;
}
#leftNavigation ul li {
    list-style: none;
    background-color: #ffffff;
    height: 40px;
    position: relative;

    width: auto;
    float: left;
    padding-left:15px;
    margin-bottom:15px;

    text-align: left;
    padding-right:15px;
    padding-top:5px;

    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border: 0px solid #000000;
    -webkit-box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.75);


}

#leftNavigation ul li a {
    color:white;
    font-size:135%;
    text-transform: uppercase;
    padding-left:40px;
    color:#191919;
}

#leftNavigation ul li.active a {
    color:white;

}



#subNavigation {
    margin-top: 280px;
}



#subNavigation ul li {
    display: block;
    float:left;

}

@media (max-width: 1199px) and (min-width: 992px) {
    #slidemenu .navbar-nav {

    }
}

.navbar-main a {
    text-decoration: none!important;
}
.navbar-main .navbar-nav>.active>a, .navbar-main .navbar-nav>.active>a:hover, .navbar-main .navbar-nav>.active>a:focus {
    color: #cf112d;
}


.navbar-logo {
    min-height:55px;
    display: block;
    float:right;
    border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    border: 0px solid #000000;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom:20px;
    padding-left:0px;
    padding-right:10px;
    margin-top:40px;
    max-width:275px;
    -webkit-box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 22px -5px rgba(0,0,0,0.75);
}

@media (max-width: 991px) {
    .navbar-logo {
        margin-top: -10px!important;
        padding-bottom: 5px!important;
    }
    .image-header {
        min-height:0px !important;
        height: 180px !important;
    }
    .main-content-wrapper {
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 115px;
    }
    .navbar-main {
        max-height:180px!important;
    }
}
@media (max-width: 664px) {
    .image-header {
        background-size:auto !important;
        background-position:top center !important;
    }
    .navbar-one-page .navbar-logo img {
        height: auto;
        max-width: 65% !important;
        margin-top: 20px !important;
        float: right;
        padding-right: 25px;
        margin-right:15px;

    }
    .navbar-logo {
        height:65px!important;
        overflow: hidden;
        background-color:white;
        border-radius:0;
        max-width: none !important;
    }
    .main-content-wrapper {
        margin-top:30px;
    }
}


.navbar-one-page .navbar-logo img {
    height: auto;
    max-width: 95%;
    margin-top: 20px;
    float: right;
    padding-right: 5px;

}

.image-header {
    background-repeat:no-repeat;
    background-position-x: 100%;
    padding:0;
    height: 320px;
    min-height: 200px;
    overflow: hidden;

}
.slide-active .image-header {
    height:1px!important;
    min-height:1px!important;
}

.navbar-toggle {
    position: fixed !important;
    top:0;
    left:0;
    margin: 0 !important;
}
.header {
    z-index:1100;
    position: fixed;
    top: 0!important;
}
.slide-nav-backdrop {
    z-index:1000;
    position: fixed;
    top: 0px!important;
}

.sct-color-2 {
    background-color:white;
}

.body-wrap.body-boxed, .image-header {
    max-width: 960px;
}
.main-content-wrapper .container {
    max-width:100%;
}

.navbar-main {
    background:transparent;
}
.navbar-main.navbar-shadow {
    box-shadow: none;
}

footer p {
    color:white;
    padding-left:15px;
}

body {
    font-size:14.5px;
}

.neos-contentcollection table td {
    padding-right:15px;
}

.main-content-wrapper .slice-wrapper > section .one-page-slice {
    border-top: 1px solid #CF112D;
}
.main-content-wrapper .slice-wrapper > section:first-child .one-page-slice {
    border-top: 0px;
    margin-bottom:0px !important;
}
.main-content-wrapper .slice-wrapper > section:last-child .one-page-slice {
    margin-bottom:250px;
}

.main-content-wrapper > div > div:first-child {
    padding-top:85px;

}

.typo3-neos-nodetypes-textwithimage > div {
    padding-top:15px;
    padding-bottom:15px;
    font-size:13.5px;
}

.border1 {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;


    -webkit-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 17px -2px rgba(0,0,0,0.75);
    padding:10px;
    font-size:13.5px;

    margin-bottom:15px;


}

.st-container {
    margin-top:-30px;
}