{namespace neos=TYPO3\Neos\ViewHelpers}

<f:switch expression="{container.nodetype.name}">
    <f:case value="Neoslive.Visio:Parallax">
        <h1 class="parallax-title white">{neos:contentElement.editable(property: 'title', tag: 'span')}</h1>
     </f:case>

    <f:case value="Neoslive.Visio:Section">
        <h1>{neos:contentElement.editable(property: 'title', tag: 'span')}</h1>
     </f:case>

    <f:defaultCase>
        <div class="section-title-wrapper style-1 v1">
            <h3 class="section-title left">
                {neos:contentElement.editable(property: 'title', tag: 'span')}
            </h3>
        </div>

    </f:defaultCase>

</f:switch>

