{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace m=TYPO3\Media\ViewHelpers}


<f:if condition="{node.properties.nopadding}">


    <f:then>
        <section class="bg-base-1 no-padding" id="{node.properties.anchor}">
            <div>
                <div class="container">

                    <ts:render path="col1"/>
                </div>

            </div>
        </section>
    </f:then>
    <f:else>
        <section class="bg-base-1"  id="{node.properties.anchor}">
            <div class="cta-wrapper">
                <div class="container">

                    <ts:render path="col1"/>
                </div>

            </div>
        </section>
    </f:else>

</f:if>


