{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace m=TYPO3\Media\ViewHelpers}
{namespace visio=Neoslive\Visio\ViewHelpers}

<visio:section node="{node}" asCss="css">


    <f:if condition="{node.properties.fullwidth}">

<f:then>
                <a {f:if(condition: '{node.properties.anchor} != \'\'', then: 'id="{node.properties.anchor}"', else: '')}></a>
                    <div class="{f:if(condition: '{node.properties.centered} == 1', then: 'block style-4 v2 text-center', else: '')} ">
                        <ts:render path="col1"/>
                    </div>


        </f:then>



        <f:else>





            <f:if condition="{node.properties.nopadding}">


                <f:then>
                    <section class="{css} no-padding" {f:if(condition: '{node.properties.anchor} != \'\'', then: 'id="{node.properties.anchor}"', else: '')}  >
                    <div>
                        <div class="container">
                            <div class="{f:if(condition: '{node.properties.centered} == 1', then: 'block style-4 v2 text-center', else: '')} ">
                                <ts:render path="col1"/>
                            </div>
                        </div>

                    </div>
                    </section>
                </f:then>
                <f:else>
                    <section class="{css}" {f:if(condition: '{node.properties.anchor} != \'\'', then: 'id="{node.properties.anchor}"', else: '')}>
                    <div class="cta-wrapper">
                        <div class="container ">

                            <div class="{f:if(condition: '{node.properties.centered} == 1', then: 'block style-4 v2 text-center', else: '')} ">
                                <ts:render path="col1"/>
                            </div>
                        </div>

                    </div>
                    </section>
                </f:else>

            </f:if>






        </f:else>
    </f:if>


</visio:section>

