{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:switch expression="{container.nodetype.name}">

    <f:case value="Neoslive.Visio:Parallax">
<span class="c-white">
<div{attributes -> f:format.raw()}>
	{neos:contentElement.editable(property: 'text')}
    </div>
</span>
    </f:case>

    <f:defaultCase>


        <f:if condition="{node.parent.parent.nodetype.name} == 'Neoslive.Visio:Section'">
            <f:then>
                <h4 class="strong-500">
                    <div
                            {attributes -> f:format.raw()}>
                        {neos:contentElement.editable(property: 'text')}
                    </div>
                </h4>
            </f:then>
            <f:else>
                <div {attributes -> f:format.raw()}>
                    {neos:contentElement.editable(property: 'text')}
                </div>
            </f:else>
        </f:if>





    </f:defaultCase>

</f:switch>
